<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reactive.ui"
    android:versionCode="2"
    android:versionName="1.02" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/rocket"
        android:label="ReactiveUI" >
        <activity
            android:name=".Demo"
            android:label="Reactive Demo" android:theme="@android:style/Theme.Black">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>